/* ==========theme colors =======*/
$cadet_label: #89a9b9;
$pink_label: #7d5d71;
$wine_label: #60213c;
$gray_label: #646770;
$green_label: #1ccd76;

/*=========brand color */
$primary: #210b2c;
$secondary: #55286f;
$tertiary: #bc96e6; //bright lavender
$fourthcolory: #d8b4e5; //pink lavender
$fifthcolory: #ae759f; //pearly purple

/*=====  Light colors  ======*/
$white: #fff;
$color_gray_eleven: darken($white, 2.5%); // #f9f9f9
$color_gray_ten: darken($white, 2.6%); // #f8f8f8
$color_gray_nine: darken($white, 5%); //#f2f2f2
$color_gray_eight: darken($white, 8.4%); // #eaeaea
$color_gray_seven: darken($white, 20%); // #cccccc
$black: #000000;
$color_gray_one: lighten($black, 13.6%); // #232323
$color_gray_two: lighten($black, 20%); // #333333
$color_gray_three: lighten($black, 26.5%); // #444444
$color_gray_four: lighten($black, 33.5%); // #555555
$color_gray_five: lighten($black, 46.5%); // #777777
$color_gray_six: lighten($black, 53.5%); // #888888

/*==========  social links colors  ==========*/

$color-twitter: #1bb2e9;
$color-facebook: #3b5a9b;
$color-youtube: #ed3f41;
$color-vimeo-square: #44bbff;
$color-skype: #009cef;
$color-linkedin: #007bb6;
$color-google-plus: #dc4937;
$color-github: #4183c4;
$color-flickr: #0062dd;
$color-dribbble: #e24d87;
$color-instagram: #3f729b;
$color-pinterest: #d5282e;
$color-stumbleupon: #ec4823;
$color-tumblr: #455469;
$color-wordpress: #21759b;
$color-codepen: #cccccc;
$color-digg: #14589e;
$color-reddit: #ff4500;
$color-xing: #026466;
$color-vk: #45668e;
$color-weibo: #e6162d;
$color-leanpub: #000000;
$color-renren: #237bc2;
$color-rss: #f26522;
$color-soundcloud: #ff3a00;
$color-vine: #00bf8f;
$color-delicious: #2a96ff;
